name: Build docs
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Copy public to docs
        run: |
          rm -rf docs || true
          cp -R frontend/public docs
      - name: Commit docs
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore: update docs for GitHub Pages"
